MONGODB_CONNECTION_URL=mongodb://localhost:27017/tweets
MONGODB_DATABASE=twittertweet
TWITTER_USER_NAME=
TWITTER_PASSWORD=
KEY=
EMAIL=
EMAIL_PASSWORD=
ACCOUNT_PATH=
TELE_API_ID=
TELE_API_HASH=
BASE_DISCORD_URL=
BOT_TOKEN=